@charset "utf-8";

section {
    width: 100%;
    height: 5800px;
    background-color: #F6F6F6;
}

.released_games {
    width: 1260px;
    height: 840px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.released_games>h3 {
    text-align: center;
    font-size: 28px;
    color: #000;
    padding: 80px 0 0 0;
}

.released_games>h3>span {
    color: #e4a101;
    font-size: 28px;
}

.released_games>p {
    text-align: center;
    color: #494b4f;
    margin: 15px 0 0 0;
}

.released_games>img {
    width: 268px;
    height: 11px;
    margin: 20px 0 0 500px;
}

.released_box {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.callofduty {
    width: 720px;
    height: 460px;
    margin: 50px 10px;
    background-color: #fff;
    box-shadow: 0 -1px 10px #d4d4d4;
    display: flex;
    flex-flow: column wrap;
}

.callofduty>a>img {
    margin: 30px 0 0 20px;
}

.cot_box {
    width: 300px;
    height: 60px;
}

.cot_box:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 50px 0 0 0;
}

.cot_box:first-of-type>h3 {
    float: left;
    font-size: 16px;
    color: #494b4f;
}

.cot_box:first-of-type>img {
    width: 80px;
    height: 25px;
    margin: 0 0 0 10px;
}

.cot_box:nth-of-type(2) {
    position: relative;
}

.cot_box:nth-of-type(2)>img {
    position: absolute;
    top: 10px;
    left: -3px;
    z-index: 1;
}

.cot_box:nth-of-type(2)>h2 {
    position: absolute;
    top: 22px;
    left: 10px;
    z-index: 2;
    font-size: 18px;
    color: #fff;
}

.cot_box:nth-of-type(2)>h2>span {
    color: #000;
}

.cot_box:last-of-type {
    width: 350px;
    height: 220px;
    font-size: 14px;
    margin: 20px 0 0 0;
}

.cot_box:last-of-type>p {
    color: #494b4f;
}

.cot_box:last-of-type>button {
    width: 150px;
    height: 50px;
    background-color: #e4a101;
    -webkit-transform: skew(-16deg);
    border: none;
    margin: 40px 0 0 15px;
}    

.cot_box:last-of-type > button > a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: bolder;
}

.table_name {
    font-weight: bold;
    width: 100px;
    height: 30px;
}

.table_section {
    color: #494b4f;
}

.duty_box {
    width: 382px;
    height: 131px;
    margin: 45px 0 0px 0;
}

.duty_box>img {
    width: 100%;
    height: 100%;
}

.for_gamers {
    width: 100%;
    height: 800px;
    position: relative;
}

.for_gamers img[alt="just_gamer_bg"] {
    width: 100%;
    height: 800px;
}

.for_gamers img[alt="just_gamer_img"] {
    position: absolute;
    top: 100px;
    left: 50%;
    height: 700px;
    transform: translate(-50%, 0%);
    z-index: 3;
}

.triangle_top {
    width: 0px;
    height: 0px;
    border-bottom: calc(180px * 0.8) solid #F6F6F6;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 34%;
}

.triangle_bottom {
    width: 0px;
    height: 0px;
    border-bottom: calc(180px * 0.8) solid #F6F6F6;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    position: absolute;
    bottom: 0;
    left: 34%;
}

.for_gamers img[alt="just_gamer_chart"] {
    position: absolute;
    top: 200px;
    left: 65%;
}

.for_gamers img[alt="just_gamer_circle"] {
    position: absolute;
    top: 450px;
    left: 650px;
    z-index: 1;
}

.for_gamers img[alt="just_gamer_shape"] {
    position: absolute;
    top: 495px;
    left: 770px;
    z-index: 2;
    opacity: 0.7;
}

#tech {
    width: 1300px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

#tech>h3 {
    font-size: 28px;
    color: #fff;
    margin: 100px 0 0 0;
}

#tech > h3 > span {color: #e4a101;}

#tech>p {
    font-size: 13px;
    color: #90949c;
    margin: 10px 0 20px 0;
}

.gamer_list {
    width: 500px;
    height: 120px;
    margin: 40px 0;
    display: flex;
}

.hgamer {
    width: 360px;
    height: 120px;
    margin: 0 0 0 30px;
}

.hgamer>h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 10px 0 20px 0;
}

.hgamer>p {
    font-size: 14px;
    color: #c6c6c6;
}

.list_box {
    width: 111px;
    height: 111px;
    background-color: #2f3033;
    position: relative;
}

.list_box:hover {
    background-color: #e4a101;
    transition: all 0.7s ease;
}

.list_box img[alt="iconbg"] {
    width: 97px;
    height: 97px;
    position: absolute;
    top: 7px;
    left: 6px;
}

.list_box img[alt="gamericon1"] {
    position: absolute;
    top: 22px;
    left: 34px;
}

.list_box img[alt="gamericon2"] {
    position: absolute;
    top: 29px;
    left: 28px;
}

.list_box img[alt="gamericon3"] {
    position: absolute;
    top: 25px;
    left: 34px;
}

.just_games {
    width: 1260px;
    height: 1600px;
    margin: 0 auto;
}

.just_games>h3 {
    text-align: center;
    font-size: 28px;
    color: #000;
    padding: 100px 0 0 0;
}

.just_games>h3>span {
    color: #e4a101;
}

.just_games>p {
    text-align: center;
    color: #494b4f;
    margin: 10px 0 20px 0;
}

.just_games>img {
    width: 268px;
    height: 11px;
    margin: 0 0 0 500px;
}

.games_imgs {
    width: 1260px;
    height: 1300px;
    margin: 50px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.thumb_img>a>img[alt="thumb1"] {
    box-shadow: 3px 3px 3px #d4d4d4;
    position: relative;
}


.worlds_meet {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: violet;
}

.worlds_meet img[alt="cta_bg"] {
    width: 100%;
    height: 800px;
}

.meet_real {
    width: 1400px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.meet_real>img[alt="cta_img"] {
    position: absolute;
    top: 100px;
    left: 110px;
}

.meet_box {
    width: 520px;
    height: 400px;
    position: absolute;
    top: 25%;
    right: 150px;
}

.meet_box>img[alt="cta_icon"] {
    position: absolute;
    top: 0;
    left: 0;
}

.meet_box>img[alt="titlebar3"] {
    position: absolute;
    bottom: 180px;
    left: 0;
}

.meet_box>h3 {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 0;
}

.meet_box>h3>span {
    font-size: 40px;
    color: #e4a101;
}

.meet_box>p {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 140px;
    left: 0;
    line-height: 24px;
}

.meet_box>button {
    display: block;
    width: 190px;
    height: 50px;
    background-color: #e4a101;
    border: none;
    -webkit-transform: skew(-10deg);
    position: absolute;
    bottom: 80px;
    left: 10px;
}

.meet_box>button>a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    -webkit-transform: skew(10deg);
    font-size: 13px;
}

.gaming_products {
    width: 100%;
    height: 800px;
    background-color: #1C181E;
}

.products_items {
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.products_items>h3 {
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding: 100px 0 0 0;
}

.products_items>h3>span {
    font-size: 28px;
    color: #e4a101;
}

.products_items>p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 10px 0 0 0;
    line-height: 24px;
}

.products_items>img {
    width: 268px;
    height: 11px;
    position: absolute;
    top: 220px;
    left: 550px;
}

.goods {
    width: 295px;
    height: 400px;
    background-color: #1E1B20;
    display: inline-block;
    margin: 100px 10px 0 30px;
}

.goods>button {
    background-color: #e4a101;
    border: none;
    width: 90px;
    height: 25px;
    margin: 0 0 10px 100px;
}

.goods>button>a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.goods_naming {
    width: 295px;
    height: 70px;
}

.goods_naming>h3 {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.goods_naming>h3>a {
    text-decoration: none;
    color: #fff;
}

.goods_naming>h3>a:hover {
    color: #e4a101;
    transition: all 0.3s ease;
}

.price {
    width: 295px;
    height: 70px;
}

.price>h4 {
    float: left;
    font-size: 14px;
    color: #e4a101;
    margin: 20px 0 0 0;
}

.price>a>img {
    float: right;
    width: 15px;
    height: 15px;
    margin: 15px 30px 0 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}

.price>a>img:hover {
    background-color: #e4a101;
    transition: all 0.3s ease;
}

.latest_news {
    width: 1260px;
    height: 800px;
    margin: 0 auto;
}

.latest_news>h3 {
    text-align: center;
    font-size: 28px;
    color: #000;
    margin: 130px 0 0 0;
}

.latest_news>h3>span {
    color: #e4a101;
    font-size: 28px;
}

.latest_news>p {
    text-align: center;
    color: #494b4f;
    margin: 10px 0 20px 0;
}

.latest_news>img[alt="title_bar2"] {
    width: 268px;
    height: 11px;
    margin: 0 0 0 500px;
}

.shooting_game {
    width: 1260px;
    height: 520px;
    display: inline-flex;
    margin: 50px 0 0 0;
}

.shooting_box {
    width: 380px;
    height: 550px;
    margin: 10px 20px 0 20px;
}

.game_name {
    width: 380px;
    height: 50px;
}

.game_name > h3 {margin: 25px 0 0 0;}

.game_name>h3>a {
    text-decoration: none;
    color: #000;
    text-align: left;
}

.game_name>h3>a:hover {
    color: #e4a101;
    transition: all 0.5s ease;
}

.index {
    width: 380px;
    height: 50px;
}

.index>ul>li {
    display: inline;
    color: #494b4f;
    font-size: 12px;
}

.index>ul>li>a {
    text-decoration: none;
    color: #494b4f;
    font-size: 12px;
}

.index>ul>li>img {
    width: 12px;
    height: 12px;
}

.slash {
    color: #000;
}

.description {
    width: 380px;
    height: 120px;
}

.description>p {
    color: #494b4f;
    font-size: 15px;
}
